extends layout

block content
  h1 Enter Your Words
  form(method ="POST" action="/story" id="words")
    label(for="noun1") Noun 1:
    input(type="text" name="noun1" id="noun1" value="pencil")
    br
    br
    label(for="noun2") Noun 2:
    input(type="text" name="noun2" id="noun2" value="girl")
    br
    br
    label(for="verb1") Verb 1:
    input(type="text" name="verb1" id="verb1" value="run")
    br
    br
    label(for="verb2") Verb 2:
    input(type="text" name="verb2" id="verb2" value="jump")
    br
    br
    label(for="adjective1") Adjective 1:
    input(type="text" name="adjective1" id="adjective1" value="old")
    br
    br
    label(for="adjective2") Adjective 2:
    input(type="text" name="adjective2" id="adjective2" value="bitter")
    br
    br
    label(for="storyChoice") Choose One
    select(form="words" name="storyChoice" id="storyChoice")
      option(value = "1") Story 1
      option(value = "2") Story 2
      option(value = "3") Story 3
    br
    br
    button(type="submit" form="words") Tell Me a Story